<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
<div class="carousel-indicators">
<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></button>
<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></button>
<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></button>
</div>
<div class="carousel-inner">

<div class="carousel-item active">
<img src="assets/images/image001.webp" class="d-block w-100 banner-img">
<div class="carousel-caption custom-caption">
 <h1>
 DISCOVER <br>
<span>AMAZING</span> GAMES
</h1>
<p>
Explore thousands of free-to-play games and find your next adventure.
</p>
<a routerLink="/games" class="btn-purple">
  Explore Games
</a>

<a routerLink="/about" class="btn-outline">
  Learn More
</a>
</div>
</div>

<div class="carousel-item">
<img src="assets/images/image002.jpg" class="d-block w-100 banner-img">
 <div class="carousel-caption custom-caption">
<h1>
 PLAY THE <br><span>BEST</span> TITLES</h1>
<p> Discover exciting multiplayer and RPG games.</p>
 <a routerLink="/games" class="btn-purple">
  Explore Games
</a>
<a routerLink="/about" class="btn-outline">
  Learn More
</a>
</div>
 </div>

<div class="carousel-item">
<img src="assets/images/image003.jpg" class="d-block w-100 banner-img">
<div class="carousel-caption custom-caption">
   <h1>FIND YOUR <br><span>NEXT</span> ADVENTURE </h1>
 <p>  Browse hundreds of free games from every genre.</p>
<a routerLink="/games" class="btn-purple">
  Explore Games
</a>

<a routerLink="/about" class="btn-outline">
  Learn More
</a>
</div>
</div>

  </div>

 <button class="carousel-control-prev" type="button"
data-bs-target="#carouselExampleIndicators"
data-bs-slide="prev">
<span class="carousel-control-prev-icon"></span>
</button>

 <button class="carousel-control-next" type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next">
 <span class="carousel-control-next-icon"></span>

</button>

</div>