<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container">

    <a class="navbar-brand logo" routerLink="/">
      🎮 GameVault
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

     <ul class="navbar-nav mx-auto">
  <li class="nav-item">
    <a class="nav-link active" routerLink="/">Home</a>
  </li>

  

  <li class="nav-item">
    <a class="nav-link" routerLink="/about">About</a>
  </li>
 <li class="nav-item">
    <a class="nav-link" routerLink="/games">Games</a>
  </li>
  
  <li class="nav-item">
   <a class="nav-link" routerLink="/favourites">Favourites</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/contact">Contact</a>
  </li>
</ul>

      <form class="d-flex">
        <input
          class="form-control search-box"
          type="search"
          placeholder="Search Games">
      </form>

    </div>
  </div>
</nav>