:host{
    display:block;
    min-height:100vh;
    background:#0b1020;
}

.home-container{
    width:95%;
    margin:auto;
    padding-top:20px;
}

app-carousel{
    display:block;
    margin-bottom:10px;
}

app-cards{
    display:block;
}