<div class="container popular-section">

    <div class="section-header">
<h3>Popular Games</h3>
<a routerLink="/games" class="view-all">View All</a>
</div>
<div class="row">
 <div class="col-md-3">
 <div class="game-card">
 <img src="assets/images/image005.webp" >
<div class="game-content">
<h5>Fortnite</h5>
<div class="tags">
<span>Action</span>
  <span>Survival</span>
 </div>
  

</div>
 </div>
 </div>

 <div class="col-md-3">
 <div class="game-card">
<img src="assets/images/image006.jpg">
<div class="game-content">
 <h5>Apex Legends</h5>
 <div class="tags">
   <span>Action</span>
<span>FPS</span>
 </div>
 </div>
</div>
</div>
 <div class="col-md-3">
 <div class="game-card">
 <img src="assets/images/image007.jpeg" >
<div class="game-content">
   <h5>Genshin Impact</h5>
 <div class="tags">
<span>RPG</span>
<span>Adventure</span>
  </div>
</div>
 </div>
  </div>

        
  
<div class="col-md-3">
<div class="game-card">
<img src="assets/images/image008.png">

<div class="game-content">
<h5>Warframe</h5>
<div class="tags">
<span>Action</span>
 <span>RPG</span>
 </div>
</div>
</div>
</div>

</div>




</div>